name: Create release

on:
  push:
    tags:
      - "*"

jobs:
  create_release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ">=1.25.5"
      - name: Build
        working-directory: ./cron-reminders
        run: go build
      - uses: ncipollo/release-action@v1
        working-directory: ./cron-reminders
        with:
          artifacts: "cron-reminders"
